@model List<UserInRoleViewModel>

@{
    ViewData["Title"] = "Manage admins";
    string roleId = ViewBag.roleId;
}

<form method="post">
    <div class="bg-dark p-3 mt-4 w-75">
        <div class="row pb-2">
            <h2 class="text-primary">Select all users you wish to remove</h2>
            <p>For changes to take effect the removed user must re-log back into the site.</p>
            <p>The same applies to adding new user to the role.</p>
            <hr />
        </div>
        <div class="mb-3">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="mb-3">
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <input type="hidden" asp-for="@Model[i].UserId" />
                    <input type="hidden" asp-for="@Model[i].UserName" />
                    <label>
                        @Model[i].UserName
                    </label>
                </div>                
            }
        </div>
        <input type="submit" value="Remove Selected" class="btn btn-primary" style="width:150px" asp-route-roleId="@roleId"/>
    </div>
</form>

<form method="post">
    <div class="bg-dark p-3 mt-4 w-75">
        <div class="row pb-2">
            <h2 class="text-primary">Add user</h2>
            <hr />
        </div>
        <div class="mb-3">
            <div class="mb-3">
                <label>Email</label>
                <input name="email" class="form-control" />
            </div>
        </div>
        <input type="hidden" value="@roleId" name="roleId" />
        <button asp-controller="Admin" asp-action="AddToRole" class="btn btn-primary" style="width:150px" type="submit">Add</button>
    </div>
</form>