@using Microsoft.AspNetCore.Identity
@inject SignInManager<Person> SignInManager
@model BredWeb.Models.Post

<div class="card w-100 mx-auto">
    <a class="post-div" asp-controller="Post" asp-action="OpenPost" asp-route-postId="@Model.Id" asp-route-groupId="@ViewBag.GroupId">
        <div class="card-header">
            <h3 class="ps-1 text-primary">@Model.TotalRating &nbsp @Model.Title</h3>
        </div>

        <div class="card-body" style="white-space: pre-line">
            <p class="card-text">@Model.Body</p>
        </div>
    </a>

    <div class="card-subtitle text-end me-3">
    @if (Model.IsEdited)
        {
            <h6>-@Model.AuthorName @Model.PostDate.ToString().Substring(0, 16) Edited</h6>
        }else{
            <h6>-@Model.AuthorName @Model.PostDate.ToString().Substring(0, 16)</h6>                            
        }
    </div>

    <div class="w-100 card-footer container">
        <div class="row">
            <div class="col-3 btn-group" role="group">

                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-controller="Post" asp-action="Upvote" asp-route-postId="@Model.Id" 
                    class="btn btn-primary btn-sm m-1" style="width: 125px">
                    <i class="bi bi-arrow-up-square"></i>
                    Add cat
                    </a>

                    <a asp-controller="Post" asp-action="Downvote" asp-route-postId="@Model.Id"
                    class="btn btn-primary btn-sm m-1" style="width: 125px">
                    <i class="bi bi-arrow-down-square"></i>
                    Remove cat
                    </a>
                }

            </div>

            <div class="w-35 btn-group ms-auto col-1">

                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id"
                    class="btn btn-primary btn-sm m-1">Edit</a>

                    @if(ViewBag.nick == Model.AuthorName || User.IsInRole("Admin"))
                    {                                
                        <a asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id"
                        class="btn btn-warning btn-sm m-1">Delete</a>                                
                    }
                }
            </div>
        </div>
    </div>
</div>
<br />
