@using Microsoft.AspNetCore.Identity

@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager
@model IEnumerable<Post>
@{
    ViewData["Title"] = @ViewBag.GroupTitle;
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 Class="text-primary">@ViewBag.GroupTitle by -@ViewBag.Creator</h2>
        </div>
        <div class="col-6">
            <h2 Class="text-primary">@ViewBag.Description, Users - @ViewBag.UserCount</h2>
        </div>
        <div class="col-6 text-end">
            <form method="get">
                <input type="hidden" name="id" value=@ViewBag.GroupId />
                <input type="hidden" name="title" value=@ViewBag.GroupTitle />
                <button asp-controller="Post" asp-action="Create" class="btn btn-primary my-2 my-sm-0" type="submit"> <i class="bi bi-plus-square"></i> &nbsp Create new post</button>
            </form>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Body
                </th>
                <th>
                    Author
                </th>
                <th>
                    PostDate                    
                </th>
                <th>
                    Edited
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(Post post in Model)
            {
                <tr>
                <td width="15%">
                    @post.Title
                </td>
                <td width="45%">
                    @post.Body
                </td>
                <td width="10%">
                    @post.AuthorName
                </td>
                <td width="10%">
                    @post.PostDate.ToString().Substring(0, 10)
                </td>
                <td width="10%">
                    @post.IsEdited
                </td>
                </tr>                
            }            
        </tbody>
    </table>
</div>