@using Microsoft.AspNetCore.Identity

@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager
@model IEnumerable<Post>
@{
    ViewData["Title"] = @ViewBag.GroupTitle;
}


<div class="container">
    <div class="row">

        <div class="col-3 bg-dark card m-2">

            @if (SignInManager.IsSignedIn(User))
            {
                <div class="m-3 card-header">
                    <form method="get">
                        <input type="hidden" name="id" value=@ViewBag.GroupId />
                        <input type="hidden" name="title" value=@ViewBag.GroupTitle />
                        <button asp-controller="Post" asp-action="Create" class="btn btn-primary w-100" type="submit">
                            <i class="bi bi-plus-square"></i> &nbsp Create new post
                        </button>
                    </form>
                </div>
            }

            <h3 Class="text-primary mx-auto">@ViewBag.GroupTitle</h3>
            <br />
            <h6 class="text-end">-@ViewBag.Creator</h6>
            <h6 class="text-end">(@ViewBag.UserCount)</h6>
            <hr />
            <p Class="text-primary">@ViewBag.Description</p>
        </div>

        <div class="col-8 m-2">

            @foreach(Post post in Model)
            {
                <div class="card w-100 mx-auto">
                    <div class="card-header">                
                        <h3 class="ps-1 text-primary">@post.Title</h3>
                    </div>

                    <div class="card-body">
                        <p class="card-text">@post.Body</p>
                        <br>
                        <h6 class="card-subtitle text-success text-muted text-end">-@post.AuthorName</h6>
                    </div>
                    @if (post.IsEdited)
                    {
                        <div class="card-footer text-end">
                            <h6>@post.PostDate.ToString().Substring(0, 16) Edited</h6>
                        </div>
                    }else{
                        <div class="card-footer text-end">
                            <h6>@post.PostDate.ToString().Substring(0, 16)</h6>
                        </div>
                    }
                </div>
                <br />
            }
        </div>        
    </div>
</div>