@using BredWeb.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager
@model List<Post>?
@{
    Group group = ViewBag.Group;
    ViewData["Title"] = group.Title;
    string userId = "";
    if (SignInManager.IsSignedIn(User))
        userId = (await UserManager.GetUserAsync(User)).Id;
    bool isAdmin = group.AdminList!.Any(x => x.AdminId == userId);
    string filter = ViewBag.Filter;
    bool popular = ViewBag.Popular;
    int postCount = Model!.Count - 1;
}


<div class="container">
    <div class="row">

        <div class="col-3 bg-dark card m-2">

            <h2 Class="text-primary mx-auto">@group.Title</h2>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="m-3 card-header">
                    <form method="get">
                        <input type="hidden" name="id" value=@group.Id />
                        <input type="hidden" name="groupTitle" value=@group.Title />
                        <button asp-controller="Post" asp-action="Create" class="btn btn-primary w-100" type="submit">
                            <i class="bi bi-plus-square"></i> &nbsp Create new post
                        </button>
                    </form>
                </div>
            }


            <br />
            <h6 class="text-end">-@group.Creator</h6>
            <h6 class="text-end">(@group.UserCount)</h6>
            @if (SignInManager.IsSignedIn(User) && isAdmin || User.IsInRole("Admin"))
            {
                <div class="m-3 w-35 ms-auto">
                    <form method="get">
                        <button asp-controller="Group" asp-action="Edit" asp-route-id="@group.Id" class="btn btn-sm btn-secondary w-100" type="submit">
                            &nbsp Edit group
                        </button>
                    </form>
                </div>
            }            
            <form method="get">
                <div class="container">
                    <div class="row">
                        <h3 class="mt-4">Select your filters</h3>
                        <div class="col">
                            <fieldset>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        @if (filter == "Day")
                                        {
                                            <input type="radio" class="form-check-input" name="filter" value="Day" checked="">
                                        }
                                        else
                                        {
                                            <input type="radio" class="form-check-input" name="filter" value="Day">
                                        }
                                        Day
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        @if (filter == "Week")
                                        {
                                            <input type="radio" class="form-check-input" name="filter" value="Week" checked="">
                                        }
                                        else
                                        {
                                            <input type="radio" class="form-check-input" name="filter" value="Week">
                                        }
                                        Week
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        @if (filter == "Month")
                                        {
                                            <input type="radio" class="form-check-input" name="filter" value="Month" checked="">
                                        }
                                        else
                                        {
                                            <input type="radio" class="form-check-input" name="filter" value="Month">
                                        }
                                        Month
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        @if (filter == "Year")
                                        {
                                            <input type="radio" class="form-check-input" name="filter" value="Year" checked="">
                                        }
                                        else
                                        {
                                            <input type="radio" class="form-check-input" name="filter" value="Year">
                                        }
                                        Year
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        @if (filter == "All")
                                        {
                                            <input type="radio" class="form-check-input" name="filter" value="All" checked="">
                                        }
                                        else
                                        {
                                            <input type="radio" class="form-check-input" name="filter" value="All">
                                        }
                                        All time
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col">
                            <fieldset>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        @if (!popular)
                                        {
                                            <input type="radio" class="form-check-input" name="popular" value="false" checked="">
                                        }
                                        else
                                        {
                                            <input type="radio" class="form-check-input" name="popular" value="false">
                                        }
                                        New
                                    </label>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        @if (popular)
                                        {
                                            <input type="radio" class="form-check-input" name="popular" value="true" checked="">
                                        }
                                        else
                                        {
                                            <input type="radio" class="form-check-input" name="popular" value="true">
                                        }
                                        Popular
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <br />
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

                    <input type="radio" class="btn-check">
                    <button asp-controller="Post" asp-action="BrowseGroup" asp-route-id="@group.Id" class="btn btn-outline-primary ms-4" type="submit">
                        Apply
                    </button>
                </div>

            </form>

            <hr />
            <div style="white-space: pre-line" class="mb-4">
                @group.Description
            </div>

        </div>

        <div class="col-8 m-2">
            @for (; postCount >= 0; postCount--)
            {
                <div class="card w-100 mx-auto" id="@Model[postCount].Id">
                    <a class="post-div" asp-controller="Post" asp-action="OpenPost" asp-route-postId="@Model[postCount].Id" asp-route-groupId="@Model[postCount].GroupId">
                        @{
                            if (Model[postCount].Type == Post.TypeEnum.Text)
                            {
                                await Html.RenderPartialAsync("_PostContentTextPartial", Model[postCount]);
                            }
                            else if (Model[postCount].Type == Post.TypeEnum.Youtube)
                            {
                                await Html.RenderPartialAsync("_PostContentYTPartial", Model[postCount]);
                            }
                            else
                            {
                                await Html.RenderPartialAsync("_PostContentImagePartial", Model[postCount]);
                            }
                        }
                    </a>
                    <div class="card-subtitle text-end me-3">
                        @if (Model[postCount].IsEdited)
                        {
                            <h6>-@Model[postCount].AuthorName @Model[postCount].PostDate.ToString().Substring(0, 16) Edited</h6>
                        }
                        else
                        {
                            <h6>-@Model[postCount].AuthorName @Model[postCount].PostDate.ToString().Substring(0, 16)</h6>
                        }
                    </div>

                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="w-100 card-footer container">
                            <div class="row">
                                <div class="col-3 btn-group" role="group">
                                    <a asp-controller="Post" asp-action="Upvote" asp-route-postId="@Model[postCount].Id" asp-route-filter="@filter" asp-route-popular="@popular"
                                        class="btn btn-primary btn-sm m-1" style="width: 125px">
                                        <i class="bi bi-arrow-up-square"></i>
                                        Like
                                    </a>

                                    <a asp-controller="Post" asp-action="Downvote" asp-route-postId="@Model[postCount].Id" asp-route-filter="@filter" asp-route-popular="@popular"
                                        class="btn btn-secondary btn-sm m-1" style="width: 125px">
                                        <i class="bi bi-arrow-down-square"></i>
                                        Dislike
                                    </a>

                                </div>

                                <div class="w-35 btn-group ms-auto col-1">
                                    @if (ViewBag.nick == Model[postCount].AuthorName && Model[postCount].Type is Post.TypeEnum.Text)
                                    {
                                        <a asp-controller="Post" asp-action="Edit" asp-route-id="@Model[postCount].Id"
                                        class="btn btn-primary btn-sm m-1">Edit</a>
                                    }

                                    @if (ViewBag.nick == Model[postCount].AuthorName || User.IsInRole("Admin") || isAdmin)
                                    {
                                        <a asp-controller="Post" asp-action="Delete" asp-route-id="@Model[postCount].Id"
                                        class="btn btn-warning btn-sm m-1">Delete</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <br />
            }
        </div>
    </div>
</div>