@using Microsoft.AspNetCore.Identity

@inject SignInManager<Person> SignInManager
@inject UserManager<Person> UserManager
@model HomeFeedViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Breddit.</h1>
    <hr />
    @if (!SignInManager.IsSignedIn(User))
    {
        <h3>Sign in to see a personalized feed with groups that you have joined and posts only from those groups.</h3>
    }
</div>

@if (SignInManager.IsSignedIn(User))
{
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-3 bg-dark card m-2 min-vh-25 pb-3">
                <div class="m-3 card-header text-center">
                    <h2 Class="text-primary mx-auto">My groups</h2>
                </div>
                @if (Model.Groups.Any())
                {
                    <div class="d-grid gap-2">
                        @foreach (Group group in Model.Groups)
                        {
                            <a asp-controller="Group" asp-action="Open" asp-route-id="@group.Id" class="btn btn-sm btn-outline-primary" type="button">
                                @group.Title
                            </a>
                        }
                    </div>
                }
            </div>

            <div class="col-md-12 col-lg-8 m-2">
                @foreach (Post post in Model.Posts)
                {
                    <div class="card w-100 mx-auto" id="@post.Id">
                        <a class="post-div" asp-controller="Post" asp-action="OpenPost" asp-route-postId="@post.Id" asp-route-groupId="@post.GroupId">
                            @{
                                if (post.Type == Post.TypeEnum.Text)
                                {
                                    await Html.RenderPartialAsync("_PostContentTextPartial", post);
                                }
                                else if (post.Type == Post.TypeEnum.Youtube)
                                {
                                    await Html.RenderPartialAsync("_PostContentYTPartial", post);
                                }
                                else
                                {
                                    await Html.RenderPartialAsync("_PostContentImagePartial", post);
                                }
                            }
                        </a>
                        <div class="card-subtitle text-end me-3">
                            @if (post.IsEdited)
                            {
                                <h6>-@post.AuthorName @post.PostDate.ToString().Substring(0, 16) Edited</h6>
                            }
                            else
                            {
                                <h6>-@post.AuthorName @post.PostDate.ToString().Substring(0, 16)</h6>
                            }
                        </div>
                        <div class="w-100 card-footer container">
                            <div class="row">
                                <div class="col-3 btn-group" role="group">
                                    @{
                                        Rating? rating = Model.UserRatings.FirstOrDefault(r => r.RatedItemId == post.Id);
                                    }

                                    @if(rating is not null && rating.Value is not 0)//if there is a rating and it is not empty
                                    {
                                        if(rating.Value == Rating.Status.Upvoted)//rating == upvoted
                                        {
                                        <a asp-controller="Post" asp-action="Upvote" asp-route-postId="@post.Id" asp-route-home="true"
                                            class="btn btn-primary btn-sm m-1" style="width: 125px">
                                            <i class="bi bi-arrow-up-square"></i>
                                            Liked
                                        </a>

                                        <a asp-controller="Post" asp-action="Downvote" asp-route-postId="@post.Id" asp-route-home="true"
                                            class="btn btn-dark btn-sm m-1" style="width: 125px">
                                            <i class="bi bi-arrow-down-square"></i>
                                            Dislike
                                        </a>
                                        }
                                        else//rating == downvoted
                                        {
                                        <a asp-controller="Post" asp-action="Upvote" asp-route-postId="@post.Id" asp-route-home="true"
                                            class="btn btn-dark btn-sm m-1" style="width: 125px">
                                            <i class="bi bi-arrow-up-square"></i>
                                            Like
                                        </a>

                                        <a asp-controller="Post" asp-action="Downvote" asp-route-postId="@post.Id" asp-route-home="true"
                                            class="btn btn-secondary btn-sm m-1" style="width: 125px">
                                            <i class="bi bi-arrow-down-square"></i>
                                            Disliked
                                        </a>
                                        }
                                    }
                                    else
                                    {
                                    <a asp-controller="Post" asp-action="Upvote" asp-route-postId="@post.Id" asp-route-home="true"
                                        class="btn btn-dark btn-sm m-1" style="width: 125px">
                                        <i class="bi bi-arrow-up-square"></i>
                                        Like
                                    </a>

                                    <a asp-controller="Post" asp-action="Downvote" asp-route-postId="@post.Id" asp-route-home="true"
                                        class="btn btn-dark btn-sm m-1" style="width: 125px">
                                        <i class="bi bi-arrow-down-square"></i>
                                        Dislike
                                    </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                }
            </div>

        </div>
    </div>
}