@using Microsoft.AspNetCore.Identity
@model BredWeb.Models.Group
@inject UserManager<Person> UserManager
@inject SignInManager<Person> SignInManager
@{
    string userId = "";
    bool userJoined = false;
    bool userGlobalAdmin = false;
    bool userGroupAdmin = false;
    if (SignInManager.IsSignedIn(User))
    {
        userId = (await UserManager.GetUserAsync(User)).Id;
        userJoined = Model.UserList.Any(u => u.Id == userId);
        userGlobalAdmin = User.IsInRole("Admin");
        userGroupAdmin = Model.AdminList.Any(x => x.AdminId == userId);
    }

}

<div class="card w-100 mx-auto">
    <a class="post-div" asp-controller="Group" asp-action="Open" asp-route-id="@Model.Id">
        <div class="card-header">
            <h3 class="ps-2 text-primary">@Model.Title</h3>
        </div>

        <div class="card-body">
            <p class="card-text">@Model.Description</p>
            <br>
        </div>
    </a>

    <div class="card-subtitle text-end mb-2 me-3">
        <h6 class="card-subtitle text-success text-muted text-end">-@Model.Creator &nbsp @Model.StartDate &nbsp (@Model.UserCount)</h6>
    </div>

        <div class="w-100 btn-group card-footer" role="group">

            @if (!userJoined)
            {
                <a asp-controller="Group" asp-action="Join" asp-route-id="@Model.Id"
                class="btn btn-primary mx-2 btn-sm">Join</a>
            }
            else
            {
                <a asp-controller="Group" asp-action="Leave" asp-route-id="@Model.Id"
                class="btn btn-warning mx-2 btn-sm">Leave</a>
            }

            @if (userGlobalAdmin || userGroupAdmin)
            {
                <a asp-controller="Group" asp-action="Delete" asp-route-id="@Model.Id"
                class="btn btn-warning mx-2 btn-sm">  Delete</a>
            }
        </div>
</div>
<br />
