@using Microsoft.AspNetCore.Identity
@inject UserManager<Person> UserManager
@model AccountViewModel

@{
    ViewData["Title"] = "Account";
}

<div class="container">
    <div class="row">
        <div class="col-3 bg-dark card p-3 mt-2 min-vh-35">
            <div class="form-group w-100" style="padding:0px">
                <fieldset disabled="">
                    <div class="mb-3">
                        <label class="text-success">NickName</label>
                        <input value="@Model!.Person!.NickName" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="text-success">Email</label>
                        <input value="@Model.Person.Email" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label for="disabledInput" class="text-success">Birthday</label>
                        <input class="form-control" id="disabledInput" type="text" disabled="" value="@Model.Person.BirthDay.ToString().Substring(0, 10)">
                    </div>
                </fieldset>

                <form method="post" asp-controller="Account" asp-action="ForgotPassword">
                    <input name="Email" value="@Model.Person.Email" type="hidden" />
                    <button type="submit" class="btn btn-secondary" style="width:100%">Send email to change password</button>
                </form>
            </div>
        </div>
        <div class="col-8 m-2">
            @foreach (var post in Model.Posts!)
            {
                <div class="card w-100 mx-auto" id="@post.Id">
                    <a class="post-div" asp-controller="Post" asp-action="OpenPost" asp-route-postId="@post.Id" asp-route-groupId="@post.GroupId">
                        @{
                            if (post.Type == Post.TypeEnum.Text)
                            {
                                await Html.RenderPartialAsync("_PostContentTextPartial", (Post)post);
                            }
                            else if (post.Type == Post.TypeEnum.Youtube)
                            {
                                await Html.RenderPartialAsync("_PostContentYTPartial", (Post)post);
                            }
                            else
                            {
                                await Html.RenderPartialAsync("_PostContentImagePartial", (Post)post);
                            }
                        }
                    </a>

                    <div class="card-subtitle text-end me-3">
                        @if (post.IsEdited)
                        {
                            <h6>-@post.AuthorName @post.PostDate.ToString().Substring(0, 16) Edited</h6>
                        }
                        else
                        {
                            <h6>-@post.AuthorName @post.PostDate.ToString().Substring(0, 16)</h6>
                        }
                    </div>
                    <div class="w-100 card-footer container">
                        <div class="row">
                            <div class="col-3 btn-group" role="group">
                                <a asp-controller="Post" asp-action="Upvote" asp-route-postId="@post.Id" asp-route-account="true"
                               class="btn btn-primary btn-sm m-1" style="width: 125px">
                                    <i class="bi bi-arrow-up-square"></i>
                                    Like
                                </a>

                                <a asp-controller="Post" asp-action="Downvote" asp-route-postId="@post.Id" asp-route-account="true"
                               class="btn btn-secondary btn-sm m-1" style="width: 125px">
                                    <i class="bi bi-arrow-down-square"></i>
                                    Dislike
                                </a>

                            </div>

                            <div class="w-35 btn-group ms-auto col-1">
                                @if (ViewBag.nick == post.AuthorName)
                                {
                                    <a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id"
                               class="btn btn-primary btn-sm m-1">Edit</a>
                                }

                                @if (ViewBag.nick == post.AuthorName)
                                {
                                    <a asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id"
                               class="btn btn-warning btn-sm m-1">Delete</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            }
        </div>
    </div>
</div>